#navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
}

#navbar ul {
    display: flex;
    margin-right: 1em;
    list-style-type: none;
    margin: 0;
}

#navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8em;
    font-size: 1.3em;
    color: white;
}

#navbar ul li a:hover {
    color: white;
    background: linear-gradient(90deg, #dd1818, #dd1818 ,#dd1818, #580303);
}

#navbar ul li:hover {
    background-color: white;
}

